<div class="container">

    <div class="inner-container">

        <div class="row">

            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Change Username">
            </div>

            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" id="send_username" name="send_username">Change</button>
            </div>

            <div class="col-sm-12">

                <div class="box" id="chatbox">

                </div>

                <div class="row message-box">

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="message" name="message" placeholder="Type Message...">
                    </div>

                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" id="send_message" name="send_message">Send</button>
                    </div>

                </div>

            </div>


        </div>


    </div>

</div>